'atom-text-editor.vim-mode':
  'enter': 'core:cancel',
  'backspace': 'core:cancel'
  'ctrl-b': 'core:cancel'
  'ctrl-f': 'core:cancel'
  'tab': 'core:cancel'
  'end': 'core:cancel' 
  'home': 'core:cancel' 
  'delete': 'core:cancel'
