'atom-text-editor.vim-mode':
  'enter': 'core:cancel'
  'backspace': 'core:cancel'
  'ctrl-b': 'core:cancel'
  'ctrl-f': 'core:cancel'
  'ctrl-n': 'core:cancel'
  'ctrl-p': 'core:cancel'
  'tab': 'core:cancel'
  'end': 'core:cancel' 
  'home': 'core:cancel' 
  'delete': 'core:cancel'
  'up': 'core:cancel'
  'down': 'core:cancel'
  'left': 'core:cancel'
  'right': 'core:cancel'
  'pagedown': 'core:cancel'
  'pageup': 'core:cancel'
  'shift-tab': 'core:cancel'

'.platform-win32 .atom-text-editor':
  'ctrl-r': 'unset!'

'atom-text-editor.vim-mode:not(mini).autocomplete-active':
  'tab': 'autocomplete-plus:confirm'
  'up': 'core:move-up'
  'down': 'core:move-down'
  'esc': 'autocomplete-plus:cancel'
